<html>
    <head>
        <title>WebWH blog</title>
    </head>
    <body>

        <div>
            <h1><a href="">WebWH Blog</a></h1>
        </div>

        <p>------------------------------------------------------------</p>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p> <!-- 파이프는 블로그 글 텍스트에서 행이 바뀌면 문단으로 변환하도록 하라는 의미 -->
                <p>------------------------------------------------------------</p>
            </div>
        {% endfor %}
        
    </body>
</html>